@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}

.song-list {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.song-list ul {
  margin: 20px;
}

.song-list li {
  font-weight: 600;
  font-size: 1.5rem;
  list-style: none;
}

.add-song {
  font-size: 1.2rem;
}
.add-song h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.add-song form {
  display: flex;
  flex-direction: column;
}

.add-song label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

.add-song input {
  font-size: inherit;
  margin-bottom: 5px;
}

.btn {
  font-size: 1.2rem;
  margin-top: 10px;
  width: 100%;
}
